@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

.container {
    max-width: 1170px;
    margin: auto;
}
html{
    scroll-behavior: smooth;
}

.header {
    padding: 20px 0 10px 0;
    background: #F2F3E1;
    border-bottom: 1px solid #e4d6d6;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 9999;
    .navbar {
        ul {
            li {
                display: inline;

                a {
                    color: #777;
                    text-decoration: none;
                    padding: 0 16px;
                    font-weight: 600;
                    font-size: 15px;

                }
            }

            button {
                margin-left: 35px;
                background-color: transparent;
                color: #4F99CA;
                border: 2px solid #4F99CA;
                padding: 12px 24px;
                border-radius: 7px;
                transition: 0.4s;
                font-weight: 600;
                font-size: 15px;

                &:hover {
                    background: #4F99CA;
                    color: #fff;
                }
            }
        }
    }
}

.banner {
    background: #F2F3E1;
    padding-top: 300px;

    .banner_content {
        h1 {
            font-size: 70px;
            font-weight: 600;
        }

        p {
            padding: 25px 0;
            font-size: 19px;
            color: #666;
        }

        button {
            background: #3EC37D;
            border: none;
            padding: 18px 38px;
            border-radius: 7px;
            font-weight: 500;
            font-size: 14px;
            font-family: "Poppins", "sans-serif";
            transition: 0.4s;
            letter-spacing: 1px;

            &:hover {
                background: #333;
            }
        }
    }

    .banner_image {
        padding-top: 100px;

        img {
            width: 100%;
        }
    }
}

.slider {
    background: #4F98CA;
    padding: 100px 0;

    p {
        color: #F2F3E1;
        font-size: 19px;
        letter-spacing: 1px;
    }

    .six {
        .image {
            padding-top: 30px;

            img {
                width: 63%;
            }
        }
    }
}

.owl-prev {
    position: absolute;
    top: 50%;
    left: -7%;
    transform: translateY(-50%);
}

.owl-next {
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translateY(-50%);
}

.owl-next,
.owl-prev {
    span {
        font-size: 25px;
        color: #fff;
        text-align: center;
        background: #448EC0;
        padding: 0 14px;
        border-radius: 50%;
    }
}

.services {
    padding-top: 100px;
    background: #F2F3E1;


    .small_heading {
        h5 {
            font-size: 15px;
        }
    }

    .big_heading {
        font-weight: 600;
        font-size: 45px;
    }

    .head_num {
        color: #3EC37D;
        font-size: 50px;
        font-weight: 600;
    }

    p {
        font-size: 16px;
    }

    .sbox {
        margin-top: 100px;
        padding: 50px 25px;
        background: #fff;
        border-radius: 20px;
        box-shadow: 0 0 1rem rgba($color: #000000, $alpha: 0.03);
        transition: 0.4s;

        &:hover {
            box-shadow: 0 0 1rem rgba($color: #000000, $alpha: 0.2);
        }

        // .logo{

        // }
        .title {
            h3 {
                font-weight: 600;
                font-size: 22px;
            }

            p {
                font-size: 15px;
                color: #777;
            }
        }

        .arrow {
            background: #3EC37D;
            border-radius: 50%;
            padding: 4px 12px;
            display: inline-block;
            color: #fff;
        }
    }
}

.about {
    background: #F2F3E1;
    padding-top: 150px;

    .content_right {
        padding-top: 80px;

        h6 {
            font-size: 15px;
        }

        h1 {
            font-size: 50px;
            font-weight: 600;
        }

        p {
            font-weight: 14px;
            color: #666;
        }

        button {
            background: #3EC37D;
            border: none;
            padding: 17px 34px;
            font-weight: 500;
            font-size: 14px;
            letter-spacing: 1px;
            border-radius: 7px;
            transition: 0.4s;

            &:hover {
                background: #333;
            }
        }
    }
}

.project {
    padding-top: 150px;
    background: #F2F3E1;


    .content {
        padding-top: 80px;

        h6 {
            font-size: 15px;
        }

        h1 {
            font-size: 50px;
            font-weight: 600;
        }

        p {
            font-weight: 14px;
            color: #666;
        }

        button {
            background: #3EC37D;
            border: none;
            padding: 17px 34px;
            font-weight: 500;
            font-size: 14px;
            letter-spacing: 1px;
            border-radius: 7px;
            transition: 0.4s;

            &:hover {
                background: #333;
            }
        }
    }

    .image2 {
        padding-top: 250px;
    }

    .image1,
    .image2,
    .image3,
    .image4 {
        .img_content {
            background: #fff;
            width: 95.15%;
            padding: 20px 30px;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;

            h4 {
                font-weight: 600;
                font-size: 22px;
                color: #000;
                line-height: 33px;
                max-width: 300px;
            }

            P {
                font-weight: 500;
                letter-spacing: 1px;
                font-size: 12px;
                padding-top: 15px;
            }
        }
    }
}

.client_review {
    padding-top: 100px;
    background: #F2F3E1;

    .container {
        .headings {
            max-width: 500px;
            margin: auto;

            h6 {
                font-size: 15px;
            }

            h1 {
                font-size: 50px;
                font-weight: 600;
            }
        }

        .rbox {
            background: #fff;
            padding: 35px 30px;
            border-radius: 15px;

            p {
                font-size: 15px;
                line-height: 28px;
                color: #777;
            }

            .fot {
                h5 {
                    font-weight: 600;
                    font-size: 18px;
                }

                h6 {
                    font-size: 15px;
                    color: #666;

                }
            }
        }
    }
}

.subscribe {
    padding-top: 150px;
    background: #F2F3E1;

    .container {
        border-top: 1px solid #999;
        padding-top: 150px;

        .headings {
            padding-top: 80px;
            max-width: 450px;

            h6 {
                font-size: 15px;
            }

            h1 {
                font-size: 50px;
                font-weight: 600;
                line-height: 65px;
            }
        }

        .mailus {
            input {
                border: 1px solid #e2dfdf;
                border-radius: 7px;
                padding: 15px 0 15px 15px;
            }

            .input2 {
                margin-left: 10px;
            }
        }

        button {
            background: #3EC37D;
            border: none;
            padding: 18px 165px;
            font-weight: 500;
            font-size: 14px;
            letter-spacing: 1px;
            border-radius: 7px;
            transition: 0.4s;

            &:hover {
                background: #333;
            }
        }

        .checkbox {
            .input3 {
                height: 15px;
                width: 25px;
                margin-top: 10px;
            }
        }
    }
}

.our_team {
    padding-top: 100px;
    background: #F2F3E1;

    .container {
        border-top: 1px solid #999;
        padding-top: 100px;

        .headings {
            max-width: 450px;

            h6 {
                font-size: 15px;
            }

            h1 {
                font-size: 50px;
                font-weight: 600;
                line-height: 70px;
                padding-top: 15px;
            }
        }

        .imgbox {
            background: #fff;
            padding: 30px 0px 20px 0px;
            border-radius: 12px;
            transition: 0.3s;

            &:hover {
                box-shadow: 0 0 1rem rgba($color: #000000, $alpha: 0.1);

                .image {
                    img {
                        outline: 4px solid #3EC37D;
                    }
                }
            }

            .image {
                padding-top: 35px;

                img {
                    border: 4px solid #fff;
                    border-radius: 50%;
                }
            }

            .name {
                padding-top: 80px;

                h5 {
                    font-weight: 600;
                    font-size: 18px;
                }

                h6 {
                    font-size: 15px;
                    padding-top: 5px;
                }
            }
        }

    }
}

.blog {
    padding-top: 100px;
    background: #F2F3E1;

    .container {
        border-top: 1px solid #999;
        padding-top: 100px;

        .headings {
            max-width: 500px;

            h6 {
                font-size: 15px;
            }

            h1 {
                font-size: 50px;
                font-weight: 600;
                line-height: 65px;
            }
        }

        button {
            background: #3EC37D;
            border: none;
            padding: 18px 38px;
            border-radius: 7px;
            font-weight: 500;
            font-size: 14px;
            font-family: "Poppins", "sans-serif";
            -webkit-transition: 0.4s;
            transition: 0.4s;
            letter-spacing: 1px;

            &:hover {
                background: #333;
            }
        }

        .d-flex {
            .image {
                img {
                    max-width: 220px;
                    height: 100%;
                    max-height: 350px;
                    object-fit: cover;
                    border-top-left-radius: 22px;
                    border-bottom-left-radius: 22px;
                }
            }

            .content {
                padding: 40px 25px;
                background: #fff;
                border-top-right-radius: 22px;
                border-bottom-right-radius: 22px;

                .date {
                    font-size: 14px;
                    font-weight: 500;
                    letter-spacing: 1px;
                }

                h5 {
                    font-weight: 600;
                    font-size: 22px;
                    max-width: 250px;
                    line-height: 32px;
                }

                .para {
                    font-size: 15px;
                    color: #666;
                }

                .more {
                    color: #3EC37D;
                    font-size: 15px;
                    letter-spacing: 1px;
                    font-weight: 500;
                    padding-top: 50px;
                }
            }
        }
    }
}

.project {
    padding-bottom: 100px;
    background: #F2F3E1;

    .container {
        border-top: 1px solid #999;
        padding-top: 100px;

        .headings {
            max-width: 600px;
            margin: auto;

            h1 {
                font-size: 65px;
                font-weight: 600;
                line-height: 85px;
            }

            p {
                font-size: 18px;
                color: #666;
            }

            button {
                background: #3EC37D;
                border: none;
                padding: 18px 38px;
                border-radius: 7px;
                font-weight: 500;
                font-size: 14px;
                font-family: "Poppins", "sans-serif";
                -webkit-transition: 0.4s;
                transition: 0.4s;
                letter-spacing: 1px;

                &:hover {
                    background: #333;
                }
            }
        }
    }
}

.footer {
    background: #272727;
    padding-top: 50px;
    .container{
        border-bottom: 1px solid #444;
        padding-bottom: 100px;
        .ft_left {
            padding-right: 50px;
            .para {
                p {
                    color: #777;
                    font-size: 15px;
                }
            }
        }
    
        .ft_mid1 {
            border-left: 1px solid #444;
            padding-left: 70px;
        }
        .ft_right{
            padding-left: 40px;
        }
    
        .ft_left,
        .ft_mid1,
        .ft_mid2,
        .ft_right {
            ul {
                h5 {
                    color: #fff;
                    line-height: 55px;
                    font-size: 18px;
                }
    
                li {
                    list-style: none;
                    line-height: 45px;
                    a {
                        text-decoration: none;
                        color: #777;
                        transition: 0.3s;
                        font-size: 15px;
    
                        &:hover {
                            color: #fff;
                        }
                    }
                }
            }
    
        }
    }
}
.copyright{
    padding: 30px 0;
    background: #272727;
    p{
        color: #777;
        font-size: 15px;
        strong{
            color: #fff;
            font-weight: 500;
        }
    }
}
.arrow_top{
    width: 70px;
    height: 70px;
    background-color: #3EC37D;
    position: fixed;
    right: 20px;
    bottom: 20px;
    line-height: 70px;
    text-align: center;
    border-radius: 50%;
    display: none;
    a{
        text-decoration: none;
        color: #fff;
    }
}